
.undisplay{display: none !important;}
.pointer-clicked{cursor: pointer;}
.pointer-block{cursor:not-allowed;}

#datatable>tbody>tr.cursor-pointer:hover{
	cursor: pointer;
	background: var(--light);
}

/*
.navbar-bg{height: 50px !important;}
.navbar{height: 50px !important;}

.navbar {
	left:0px !important;
	width: 100%;
}

.navbar>.navbar-nav.toggle-sidebar{
	padding-left: 0px;
	transition: .3s ease-in-out;  
}
.navbar>.navbar-nav.nav-head{
}

ul>li{padding-left: 20px !important;}

.main-sidebar{width:300px !important;left: -300px;}

#ascrail2000{left: 0px !important;}

.dropdown-toggle::after {
	display: inline-block;
	margin-left: 0.255em;
	vertical-align: 0.255em;
	content: "▶";
	border:none !important;
	transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	transition: transform .3s ease-in-out;  
}

.dropdown-toggle.collapsed::after {
	content: "▶";
	transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	-webkit-transform:rotate(0deg);
	transition: transform .3s ease-in-out;  

}

.main-content{
	padding-left: 0px !important;
	padding-top: 60px !important;
}

.nav-link:hover{
	color: var(--primary) !important; 
}


.modal-xlg{
	max-width: 95% !important;
}



#toggle-sidebar2{
	position: absolute;
	left: 30px;
	top: 20px;
}
*/

