.my-primary-color {
  color: #353E93 !important;
}

.swal2-actions button:not(:last-child){
  margin-right: 10px !important;
}

.swal2-actions button.btn-danger{
  color: white !important;
}

.swal2-actions button.btn-primary{
  color: white !important;
}


.dataTable td.bg-primary-top{
  vertical-align: middle;
  text-align: center;
  border-left: 2px solid blue;
}

.dataTable .align-content-center{
  vertical-align: middle;
  text-align: center;
}

.dataTable .not-top-proyek{
  border-left: 2px solid transparent;
}


.dataTable th > input[type="checkbox"], .dataTable td > input[type="checkbox"]{
  height: 15px !important;
  width: 15px !important;
  vertical-align: middle;
  text-align: center; 
}

.dataTable th{
  vertical-align: middle;
}

table.dataTable.table-sm .sorting:before, table.dataTable.table-sm .sorting_asc:before, table.dataTable.table-sm .sorting_desc:before{
  top: auto !important;
}

table.dataTable.table-sm .sorting:after, table.dataTable.table-sm .sorting_asc:after, table.dataTable.table-sm .sorting_desc:after{
  top: auto !important;
}

.dataTable td{
  vertical-align: middle;
}

.my-success-color {
  color: #44C4A1 !important;
}

.search-header {
  padding-bottom: 40px;
}
.search-header.with-bg {
  background-color: #F3F2F7;
}
.search-header .input-search-container input, .search-header .input-search-container span {
  border-width: 0px;
  border-radius: 0px;
}
.search-header .input-search-container span {
  background-color: #fff;
}
.search-header .select-search {
  border-width: 0px !important;
  border-radius: 0px !important;
}
.search-header .input-search-container, .search-header .select-search {
  box-shadow: 5px 2px 24px -1px rgba(163, 163, 163, 0.35);
}

.my-button-primary {
  background-color: #353E93;
  border-color: #353E93;
  color: white !important;
}
.my-button-primary:active, .my-button-primary:focus {
  background-color: rgba(46, 54, 128, 0.8);
  box-shadow: 0 0 0 0.25rem rgba(50, 59, 140, 0.5);
  border-color: #353E93;
}
.my-button-primary:hover {
  background-color: rgba(46, 54, 128, 0.9);
  border-color: #353E93;
}

.my-button-outline-primary {
  color: #353E93;
  border-color: #353E93;
}
.my-button-outline-primary:hover {
  color: white !important;
  background-color: #353E93;
  border-color: #353E93;
}
.my-button-outline-primary:disabled, .my-button-outline-primary.disabled {
  color: #353E93;
  background-color: transparent;
}

.action-table-links > a:not(:last-child) {
  margin-right: 10px;
}

.link-normal {
  color: black;
  text-decoration: none !important;
}

.slider .slick-slide {
  padding-left: 15px;
  padding-right: 15px;
}
.slider .slick-dots-custom-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.slider .slick-dots-custom-wrapper .prev-slider-btn > i, .slider .slick-dots-custom-wrapper .next-slider-btn > i {
  color: #595656;
  font-size: 30px;
}

.slider .slider-image-container{
  height: 350px;
  overflow: hidden;
}

.slider .slider-image-container > img{
  object-fit: cover;
  height: 350px;
}

.slick-dots {
  list-style-type: none !important;
  display: flex;
  padding: 0px;
  margin: 0px 30px;
}
.slick-dots > li {
  display: flex;
  align-items: center;
}
.slick-dots > li button.custom-slick-dots {
  border: none;
  width: 3rem;
  height: 3px;
}
.slick-dots > li button.custom-slick-dots:active {
  border: none;
}
.slick-dots > li.slick-active button.custom-slick-dots {
  background-color: #693BE3;
}
.slick-dots > li:first-child button.custom-slick-dots {
  border-radius: 5px 0px 0px 5px;
}
.slick-dots > li:last-child button.custom-slick-dots {
  border-radius: 0px 5px 5px 0px;
}

.custom-file-input::-webkit-file-upload-button {
  display: none;
}

@media (max-width: 767.98px) {
  .navbar-collapse-menu-container.no-login > ul > li {
    padding-right: 0px !important;
  }
  .navbar-collapse-menu-container.no-login > ul > li > a {
    color: rgba(0, 0, 0, 0.55) !important;
    border: none !important;
    padding: 15px 10px !important;
    background-color: transparent;
  }
  .navbar-collapse-menu-container.no-login > ul > li > a:hover {
    color: #353E93 !important;
    box-shadow: none !important;
  }
  .navbar-collapse-menu-container.logged-in > ul > li {
    padding-right: 0px !important;
  }
  .navbar-collapse-menu-container.logged-in > ul > li > a {
    color: rgba(0, 0, 0, 0.55) !important;
    border: none !important;
    padding: 15px 10px !important;
    background-color: transparent;
  }
  .navbar-collapse-menu-container.logged-in > ul > li > a:hover {
    color: #353E93 !important;
    box-shadow: none !important;
  }
}
.login-page .custom-style-form-login {
  padding-left: 0px !important;
  padding-right: 0px !important;
  box-shadow: none !important;
  border-top: none !important;
}
.login-page .toggle-password-icon:hover {
  cursor: pointer;
}

#editProfileContainer.edit-profile #formEditPassword {
  display: none;
}
#editProfileContainer.edit-profile #formEditProfile {
  display: block;
}

#editProfileContainer.edit-profile-password #formEditProfile {
  display: none;
}
#editProfileContainer.edit-profile-password #formEditPassword {
  display: block;
}

.container-zebra .row-zebra {
  padding-left: 10%;
  padding-right: 10%;
}
.container-zebra > .row-zebra:nth-child(even) {
  background-color: white !important;
}
.container-zebra > .row-zebra:nth-child(odd) {
  background-color: #F9F9FA !important;
}

.main-content-page {
  min-height: calc(100% - 10%);
}

@media (max-width: 767.98px) {
  .mobile__plr-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .mobile__plr-5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .mobile__plr-15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .mobile__pt-20 {
    padding-top: 20px !important;
  }

  .mobile__mlr-0 {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .mobile__mb-0 {
    margin-bottom: 0px !important;
  }

  .mobile__mb-1rem {
    margin-bottom: 1rem !important;
  }

  .mobile__mb-10 {
    margin-bottom: 10px !important;
  }
}